blinker
certifi
charset-normalizer
click
colorama
et-xmlfile
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
openpyxl
packaging
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tzdata
urllib3
Werkzeug
xgboost
